<div class="banner position-relative">
  <div class="container">
    <div class="row">
      <div
        class="vstack offset-lg-1 col-lg-5 col-md-8 justify-content-center text-muted"
        style="min-height: 582px;"
      >
        <span>健身輕時尚</span>
        <h1 class="fs-15">DOYOGA，做你的瑜珈</h1>
        <p class="fw-bold fs-4 mb-0">
          多給自己一點時間享受靜謐，傾聽內心的聲音。
        </p>
        <div class="hstack mt-3">
          <a
            href="reservation-choose.html"
            class="btn btn-third btn-lg me-2 text-muted"
          >
            立即預約</a
          ><a href="course.html" class="btn btn-secondary btn-lg text-white">
            課程介紹
          </a>
        </div>
      </div>
      <div class="col-lg-6 col-md-4"></div>
    </div>
  </div>
  <%- include('../components/side-icons.ejs')%>
</div>
