<h2 class="text-center fs-3 mb-5">選擇課程階級</h2>
<div class="row flex-md-nowrap overflow-auto px-md-6">
  <div class="col">
    <div class="level-choose bg-secondary rounded-l1 shadow p-4" id="level1">
      <div class="position-relative">
        <h3 class="fs-4 mt-2 mt-md-0">基礎 Basic</h3>
        <div class="hstack">
          <span class="me-2">基礎課程</span
          ><span class="btn-primary btn-sm rounded-pill text-white px-3"
            >60 min</span
          >
        </div>
        <p class="mt-3 mb-1">
          ・入體位法動作解說
        </p>
        <p class="mb-1">
          ・瑜珈基礎動作、順位
        </p>
        <p class="mb-1">
          ・適合任何階段練習者
        </p>
        <span class="material-icons position-absolute top-0 end-0 fs-1">
          check_circle_outline
        </span>
      </div>
    </div>
  </div>
  <div class="col mt-4 mt-md-0">
    <div class="level-choose bg-secondary rounded-l1 shadow p-4" id="level2">
      <div class="position-relative">
        <h3 class="fs-4 mt-2 mt-md-0">基礎 Basic</h3>
        <div class="hstack">
          <span class="me-2">基礎課程</span
          ><span class="btn-primary btn-sm rounded-pill text-white px-3"
            >60 min</span
          >
        </div>
        <p class="mt-3 mb-1">
          ・入體位法動作解說
        </p>
        <p class="mb-1">
          ・瑜珈基礎動作、順位
        </p>
        <p class="mb-1">
          ・適合任何階段練習者
        </p>
        <span class="material-icons position-absolute top-0 end-0 fs-1">
          check_circle_outline
        </span>
      </div>
    </div>
  </div>
  <div class="col mt-4 mt-md-0">
    <div class="level-choose bg-secondary rounded-l1 shadow p-4" id="level3">
      <div class="position-relative">
        <h3 class="fs-4 mt-2 mt-md-0">基礎 Basic</h3>
        <div class="hstack">
          <span class="me-2">基礎課程</span
          ><span class="btn-primary btn-sm rounded-pill text-white px-3"
            >60 min</span
          >
        </div>
        <p class="mt-3 mb-1">
          ・入體位法動作解說
        </p>
        <p class="mb-1">
          ・瑜珈基礎動作、順位
        </p>
        <p class="mb-1">
          ・適合任何階段練習者
        </p>
        <span class="material-icons position-absolute top-0 end-0 fs-1">
          check_circle_outline
        </span>
      </div>
    </div>
  </div>
</div>
