<h2 class="fs-3 text-center text-primary mt-md-l64 mt-7">立即預約</h2>

<div
  class="col-lg-6 col-lg-7 hstack justify-content-md-center justify-content-evenly mx-auto mt-3"
>
  <a
    href="reservation-choose.html"
    class="btn btn-third btn-md-lg rounded-l1 px-lg-7 px-3 me-md-5 <% if(current === 'reservation-choose'){ %> active <%} %>"
    >選擇方案</a
  >
  <a
    href="reservation-profile.html"
    class="btn btn-third btn-md-lg rounded-l1 px-lg-7 px-3 me-md-5 <% if(current === 'reservation-profile'){ %> active <%} %>"
    >填寫資料</a
  >
  <a
    href="reservation-finish.html"
    class="btn btn-third btn-md-lg rounded-l1 px-lg-7 px-3 <% if(current === 'reservation-finish'){ %> active <%} %>"
    >完成預約</a
  >
</div>
