<div
  class="position-fixed top-30 end-0 translate-middle-y d-none d-lg-block"
  style="z-index: 1;"
>
  <ul class="vstack list-unstyled mb-0 display-5">
    <li>
      <a href="#" class="text-primary mx-1"><i class="fab fa-facebook"></i></a>
    </li>
    <li>
      <a href="#" class="text-primary mx-1"><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href="#" class="text-primary mx-1"><i class="fab fa-line"></i></a>
    </li>
  </ul>
</div>
