.map {
  height: 360px;
  @include media-breakpoint-down(lg) {
    height: 323px;
  }
  @include media-breakpoint-down(md) {
    height: 195px;
  }
}

.contact .container {
  padding-bottom: 110px;
  @include media-breakpoint-down(lg) {
    padding-bottom: 80px;
  }
}
