.course-top-pic {
  height: 341px;
  width: 100%;
  @include media-breakpoint-down(md) {
    height: 218px;
  }
}

.teachers-card {
  margin-top: 80px;
  margin-bottom: 113px;
  .swiper-slide {
    width: 350px;
    height: 550px;
    @include media-breakpoint-down(sm) {
      width: 304px;
    }
  }
}
