<div class="contact position-relative">
  <div class="container pt-7">
    <h2 class="text-primary text-center fs-4">瑜珈空間</h2>
    <div class="row text-primary mt-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <img src="http://img.technews.tw/wp-content/uploads/2014/01/Google-maps-lack-xinyi-line.png" alt="" class="img-fluid w-100 map">
        <div class="col-md-6">
          <h4 class="fs-5 mb-2 mt-4">DOYOGA 教室位置</h4>
            <p class="mb-2">高雄市苓雅區北信街 23 號 2 樓</p>
            <p class="mb-0">
              如何前往：
            </p>
            <p class="mb-4">
              1. 搭乘捷運：紅線到正義站 3 號出口，延正義路方向至北信街交叉口即可。
            </p>
            <p class="mb-4">
              2. 搭乘公車：搭這些公車都可以抵達正義站 24B 25 33 50 76 77 77區 100
            </p>
            <p class="mb-0">
              3. 開車前往北信街 32 號，教室旁有專屬停車場可以使用。
            </p>
        </div>

      </div>
      <div class="col-lg-4 col-md-10 mx-auto mt-5 mt-lg-0">
        <form action="" class="bg-third rounded-l1 p-5">
            <h2 class="fs-5">意見回饋&問題詢問</h2>
            <div class="mb-3 mt-4">
              <label for="name" class="form-label"
                >姓名</label
              >
              <input
                type="text"
                class="form-control"
                id="name"
                aria-describedby="name"
                placeholder="請輸入您的姓名"
              />
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label"
                >電子信箱</label
              >
              <input
                type="email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                placeholder="email@example.com"
              />
            </div>
            <div class="mb-3">
              <label for="tel" class="form-label">手機號碼</label>
              <input
                type="tel"
                class="form-control"
                id="tel"
                aria-describedby="tel"
                placeholder="0912-345-678"
              />
            </div>
            <div class="mb-2">
              <label for="ContactMessage" class="form-label">意見回覆</label>
              <textarea
                class="form-control fw-light"
                rows="6"
                id="ContactMessage"
                placeholder="message ... "
              ></textarea>
            </div>
            <div class="text-end">
              <a
                href="#"
                class="btn btn-secondary text-white"
              >
                送出
              </a>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>
  <%- include('../components/side-icons.ejs')%>
</div>
