<!-- 感受身心 -->
<div class="container text-primary mt-6">
  <h2 class="text-center fs-3">感受身心，活在當下</h2>
  <p class="text-center text-secondary fs-35 mt-1 mb-0">DOYOGA 可以帶給你...</p>
  <div class="row text-white gy-3 gy-md-1 | mt-4 mt-lg-5">
    <div class="col-md-4">
      <div class="vstack overall rounded-l1 justify-content-end h-100 p-4">
        <p class="fs-5 mb-1">整體健身</p>
        <p class="mb-0">
          每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="vstack relax rounded-l1 justify-content-end h-100 p-4">
        <p class="fs-5 mb-1">整體健身</p>
        <p class="mb-0">
          每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="vstack sculpture rounded-l1 justify-content-end h-100 p-4">
        <p class="fs-5 mb-1">整體健身</p>
        <p class="mb-0">
          每一個動作，都融入運動解剖學的的觀點強調以身體的中心線為出發點。
        </p>
      </div>
    </div>
  </div>
</div>

<!-- 頂尖師資 -->
<div class="bg-third py-lg-l64 py-5 mt-lg-l64 mt-7">
  <div class="container position-relative">
    <div class="row teachers d-none d-md-block">
      <div class="col-lg-6 d-none d-lg-block">
        <img
          src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/photo-1540206276207-3af25c08abc4.jpeg?raw=true"
          alt=""
          class="img-fluid rounded-l1"
          style="height: 628px; min-width: 95%;"
        />
      </div>
    </div>

    <div
      class="position-md-absolute top-50 end-0 translate-middle-md-y w-100 text-muted"
    >
      <div class="container">
        <div class="col-lg-6 col-md-8 ms-lg-auto me-lg-0 mx-auto">
          <h2 class="text-primary text-lg-start text-center fs-3">
            頂尖師資、專業教學
          </h2>
          <p class="text-secondary fs-5 mb-0">
            強力師資，經歷豐富，協會認證。運用引導式教學，針對不同需求的人制定專屬課程。
          </p>
        </div>
        <div
          class="col-lg-7 col-md-11 ms-auto bg-white rounded-l1 py-6 px-md-7 px-5 mt-4"
        >
          <div class="hstack">
            <img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/teacher-1.png?raw=true"
              alt=""
              class="rounded-circle me-35 head-pic"
            />
            <div class="text-muted">
              <h3 class="fs-5 mb-0">Carol Tang 老師</h3>
              <p class="mt-1 mb-0">教學經歷 10 年</p>
              <p class="mt-1 mb-0">
                瑜珈讓我重新認識自己的身體，也讓我有了不一樣的人生。
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-10 ms-auto bg-white rounded-l1 py-4 px-5 mt-3"
        >
          <div class="hstack">
            <img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/teacher-2.png?raw=true"
              alt=""
              class="rounded-circle me-35"
            />
            <div class="text-muted">
              <h3 class="fs-5 mb-0">Kanae 老師</h3>
              <p class="mt-1 mb-0">教學經歷 10 年</p>
            </div>
          </div>
        </div>
        <div
          class="col-lg-6 col-md-10 ms-auto bg-white rounded-l1 py-4 px-5 mt-3"
        >
          <div class="hstack">
            <img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/teacher-3.png?raw=true"
              alt=""
              class="rounded-circle me-35"
            />
            <div class="text-muted">
              <h3 class="fs-5 mb-0">Asa Ifrit 老師</h3>
              <p class="mt-1 mb-0">教學經歷 10 年</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 舒適空間 -->
<div class="container py-lg-l64 py-md-l56 py-7">
  <div class="row flex-column-reverse flex-md-row">
    <div class="col-md-6">
      <div class="row mt-3 mt-md-0">
        <div class="col-md-8 col-6">
          <img
            src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
            alt=""
            class="img-fluid rounded-l1 comfort-space"
          />
        </div>
        <div class="col-md-4 col-6">
          <div class="vstack justify-content-between h-100">
            <img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/white%20round%20table%20near%20brown%20wooden%20chair.jpg?raw=true"
              alt=""
              class="img-fluid rounded-l1 sec-img"
            /><img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20blue%20denim%20jeans%20doing%20yoga.jpg?raw=true"
              alt=""
              class="img-fluid rounded-l1 sec-img d-none d-md-block"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-5">
      <div class="vstack justify-content-center h-100">
        <h2 class="text-primary mb-1 fs-3">舒適空間、靜心放鬆</h2>
        <p class="text-secondary mb-0 fs-5">
          我們都渴望平靜安穩的生活，擁有一處能夠靜心的角落，安撫每天繁雜忙碌的心。
        </p>
        <a href="yoga-space.html" class="hstack mt-4">
          環境介紹<span class="material-icons">
            trending_flat
          </span>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- 精心設計 -->
<div class="bg-third position-relative py-lg-l64 py-md-l56 py-7">
  <div class="container">
    <div class="row">
      <div class="offset-md-1 col-md-5">
        <div class="vstack justify-content-center h-100 class-mh">
          <h2 class="text-primary mb-1 fs-3">精心設計、課程多元</h2>
          <p class="text-secondary mb-0 fs-5">
            教師帶領多元課程，釋放壓力，與身心常見的緊繃不適溫柔和解。
          </p>
          <a href="course.html" class="hstack mt-4">
            課程介紹<span class="material-icons">
              trending_flat
            </span>
          </a>
        </div>
      </div>
      <div class="col-md-6 mt-3 mt-md-0 d-block d-lg-none">
        <div class="row">
          <div class="col-6">
            <img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg?raw=true"
              class="img-fluid rounded-l1 class-img"
              alt="..."
            />
          </div>
          <div class="col-6">
            <img
              src="https://images.unsplash.com/photo-1574454941059-9408c4d3f268?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
              class="img-fluid rounded-l1 class-img"
              alt="..."
            />
          </div>
          <div class="col-6 mt-3 mt-md-5">
            <img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20black%20leggings%20doing%20yoga.jpg?raw=true"
              class="img-fluid rounded-l1 class-img"
              alt="..."
            />
          </div>
          <div class="col-6 mt-3 mt-md-5">
            <img
              src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg?raw=true"
              class="img-fluid rounded-l1 class-img"
              alt="..."
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="index-swiper col-6 position-absolute top-50 end-0 translate-middle-y d-none d-lg-block overflow-hidden"
  >
    <!-- Swiper -->
    <div class="swiper-container mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide ratio ratio-1x1">
          <img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20doing%20yoga%20beside%20wall.jpg?raw=true"
            class="img-fluid rounded-l1"
            alt="..."
          />
        </div>
        <div class="swiper-slide ratio ratio-1x1">
          <img
            src="https://images.unsplash.com/photo-1574454941059-9408c4d3f268?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
            class="img-fluid rounded-l1"
            alt="..."
          />
        </div>
        <div class="swiper-slide ratio ratio-1x1">
          <img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20black%20sports%20bra%20and%20black%20leggings%20doing%20yoga.jpg?raw=true"
            class="img-fluid rounded-l1"
            alt="..."
          />
        </div>
        <div class="swiper-slide ratio ratio-1x1">
          <img
            src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/woman%20in%20white%20tank%20top%20and%20white%20leggings%20bending%20her%20body.jpg?raw=true"
            class="img-fluid rounded-l1"
            alt="..."
          />
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <!-- SwiperEnd -->
  </div>
</div>

<!-- 方案選擇 -->
<div class="container text-primary py-6">
  <h2 class="text-center fs-3">方案選擇</h2>
  <p class="text-center text-secondary fs-35 mt-1 mb-0">DOYOGA 可以帶給你...</p>
  <%-include('../components/reservation.ejs')%>
</div>

<!-- 聽聽他們怎麼說 -->
<div class="bg-third py-6">
  <div class="container text-primary">
    <h2 class="fs-3 text-center">聽聽他們怎麼說</h2>
    <div class="row flex-nowrap overflow-auto feedback mt-5">
      <div class="col-lg-4 col-md-6">
        <div
          class="card justify-content-center border-0 rounded-l1 mb-3"
          style="min-height: 116px;"
        >
          <div class="d-flex g-0">
            <div class="hstack justify-content-center">
              <img
                src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/user-1.png?raw=true"
                class="img-fluid rounded-start px-35"
                alt="..."
              />
            </div>
            <div class="">
              <div class="card-body px-0">
                <div class="hstack">
                  <h6 class="card-title me-2 mb-0">Joanne</h6>
                  <small>Oct 17 2020</small>
                </div>
                <p class="card-text mb-0">
                  <span class="material-icons align-middle">
                    star
                  </span>
                  <span class="material-icons align-middle">
                    star
                  </span>
                </p>
                <p class="card-text mb-0">
                  <small class="">服務很好、設備優良！</small>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="card justify-content-center border-0 rounded-l1 mb-3"
          style="min-height: 116px;"
        >
          <div class="d-flex g-0">
            <div class="hstack justify-content-center">
              <img
                src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/user-2.png?raw=true"
                class="img-fluid rounded-start px-35"
                alt="..."
              />
            </div>
            <div class="">
              <div class="card-body px-0">
                <div class="hstack">
                  <h6 class="card-title me-2 mb-0">Joanne</h6>
                  <small>Oct 17 2020</small>
                </div>
                <p class="card-text mb-0">
                  <span class="material-icons align-middle">
                    star
                  </span>
                  <span class="material-icons align-middle">
                    star
                  </span>
                </p>
                <p class="card-text mb-0">
                  <small class="">服務很好、設備優良！</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="card justify-content-center border-0 rounded-l1 mb-3"
          style="min-height: 116px;"
        >
          <div class="d-flex g-0">
            <div class="hstack justify-content-center">
              <img
                src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/user-3.png?raw=true"
                class="img-fluid rounded-start px-35"
                alt="..."
              />
            </div>
            <div class="">
              <div class="card-body px-0">
                <div class="hstack">
                  <h6 class="card-title me-2 mb-0">Joanne</h6>
                  <small>Oct 17 2020</small>
                </div>
                <p class="card-text mb-0">
                  <span class="material-icons align-middle">
                    star
                  </span>
                  <span class="material-icons align-middle">
                    star
                  </span>
                </p>
                <p class="card-text mb-0">
                  <small class="">服務很好、設備優良！</small>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="card justify-content-center border-0 rounded-l1 mb-3"
          style="min-height: 116px;"
        >
          <div class="d-flex g-0">
            <div class="hstack justify-content-center">
              <img
                src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/user-4.png?raw=true"
                class="img-fluid rounded-start px-35"
                alt="..."
              />
            </div>
            <div class="">
              <div class="card-body px-0">
                <div class="hstack">
                  <h6 class="card-title me-2 mb-0">Joanne</h6>
                  <small>Oct 17 2020</small>
                </div>
                <p class="card-text mb-0">
                  <span class="material-icons align-middle">
                    star
                  </span>
                  <span class="material-icons align-middle">
                    star
                  </span>
                </p>
                <p class="card-text mb-0">
                  <small class="">服務很好、設備優良！</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div
          class="card justify-content-center border-0 rounded-l1 mb-3"
          style="min-height: 116px;"
        >
          <div class="d-flex g-0">
            <div class="hstack justify-content-center">
              <img
                src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/user-5.png?raw=true"
                class="img-fluid rounded-start px-35"
                alt="..."
              />
            </div>
            <div class="">
              <div class="card-body px-0">
                <div class="hstack">
                  <h6 class="card-title me-2 mb-0">Joanne</h6>
                  <small>Oct 17 2020</small>
                </div>
                <p class="card-text mb-0">
                  <span class="material-icons align-middle">
                    star
                  </span>
                  <span class="material-icons align-middle">
                    star
                  </span>
                </p>
                <p class="card-text mb-0">
                  <small class="">服務很好、設備優良！</small>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="card justify-content-center border-0 rounded-l1 mb-3"
          style="min-height: 116px;"
        >
          <div class="d-flex g-0">
            <div class="hstack justify-content-center">
              <img
                src="https://github.com/hexschool/webLayoutTraining1st/blob/master/yoga-week8/uset-6.png?raw=true"
                class="img-fluid rounded-start px-35"
                alt="..."
              />
            </div>
            <div class="">
              <div class="card-body px-0">
                <div class="hstack">
                  <h6 class="card-title me-2 mb-0">Joanne</h6>
                  <small>Oct 17 2020</small>
                </div>
                <p class="card-text mb-0">
                  <span class="material-icons align-middle">
                    star
                  </span>
                  <span class="material-icons align-middle">
                    star
                  </span>
                </p>
                <p class="card-text mb-0">
                  <small class="">服務很好、設備優良！</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
