<%-include('../components/reservation-progress.ejs')%>
<%-include('../components/reservation.ejs')%>
<div class="container pt-5 pb-lg-l104 pb-l80">
  <div class="text-primary col-lg-4 col-md-8 mx-auto">
    <h2 class="fs-3 text-center mb-0">預約須知</h2>
    <ul class="list-unstyled mt-3 mx-3">
      <li>1. 如果有特殊體質、特殊狀況，請主動告知。</li>
      <li>
        2. 取消預約或時間異動請於預約日前一天晚間 21:00
        前告知，預約當日請勿異動或取消，以免影響您日後再預約的個人信用及難度。
      </li>
      <li>
        3. 為維護上課品質，請遵守 DOYOGA
        各項參觀規定，未遵守規定者，本公司保留謝絕入館之權利。
      </li>
      <li>
        4. DOYOGA
        保留修改預約須知之權利，修改後的條款將公佈於本網站上，不另外個別通知。如果您繼續在本網站進行參觀預約，就表示您已經了解、並同意遵守修改後的約定條款。
      </li>
    </ul>
  </div>
</div>

<%- include('../components/side-icons.ejs')%>
